<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Carb Calculator</title>
  <link rel="manifest" href="manifest.json">

  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="application-name" content="Carb Calculator">
  <meta name="apple-mobile-web-app-title" content="Carb Calculator">
  <meta name="theme-color" content="#333">
  <meta name="msapplication-navbutton-color" content="#333">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="icon" sizes="192x192" href="assets/icon.png">
  <link rel="apple-touch-icon" sizes="192x192" href="assets/icon.png">
  <link rel="stylesheet" href="assets/bulma.min.css">
</head>
<body>
  <section id="app" class="section">
    <div class="container">
      <div class="columns">
          <div class="column">
            <div class="field">
              <label for="food" class="label">Food:</label>
              <div class="control">
                <div class="select is-fullwidth">
                  <select v-model="pickedfood" v-on:click="calculate" name="food">
                      <option 
                          class="food" 
                          v-for="(food,index) in foods" 
                          :value="index"
                          :selected="index == pickedfood"
                      >
                          {{food.name}}
                      </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label for="portion" class="label">Portion size (g):</label>
              <div class="control is-expanded">
                <input class="input" type="text" v-model.number="portion" v-on:keyup="calculate" name="portion"/>
              </div>
            </div>
          </div>
      </div>

      <div v-show="portion > 0">
        <div class="label">Carbs per {{portion}}g:</div>
        <div class="title is-size-1 has-text-info">{{total}}g</div>
      </div>
    </div>
  </section>
  <script src="assets/vue.min.js"></script>
<script>
var app = new Vue({
  el: '#app',
  data: {
    foods: [
        {
          'name': 'Potato (uncooked)',
          'carbs': 17.0,
        },
        {
          'name': 'Parsnips (uncooked)',
          'carbs': 18.0,
        },
        {
          'name': 'Sweet Potato (uncooked)',
          'carbs': 20.0,
        },
        {
          'name': 'Pasta (uncooked)',
          'carbs': 75.0,
        },
        {
          'name': 'Rice (white, uncooked)',
          'carbs': 80.0,
        },
        {
          'name': 'Couscous (uncooked)',
          'carbs': 77.43,
        },
        {
          'name': 'Flour',
          'carbs': 76.0,
        }
    ],
    portion: 0,
    pickedfood: 0,
    total: 0
  },
  methods: {
      calculate: function () {
        app.total = ((app.foods[app.pickedfood].carbs / 100) * parseInt(app.portion)).toFixed(1)
      }
  }
});


if ('serviceWorker' in navigator) {
  navigator.serviceWorker.register('service-worker.js', {scope: './'});
}
  </script>
</body>
</html>
